a {
  color: #008ed6;
}
.text-color {
  color: #008ed6;
}
.icon {
  fill: #008ed6;
}
.shape-bg {
  background-image: linear-gradient(to bottom right, #008ed6, #037cb9);
}
.gradient-bg {
  background-image: linear-gradient(to bottom right, #008ed6, #037cb9);
}
.icon-border-1 {
  border: 1px solid #008ed6;
}
.icon-border-2 {
  border: 2px solid #008ed6;
}
.btn-base {
  background-image: linear-gradient(to bottom right, #008ed6, #037cb9);
}
.btn-base:after {
  background: #005885;
}
.btn-trans {
  color: #008ed6;
  border: 2px solid #008ed6;
}
.btn-trans .icon {
  fill: #008ed6;
}
.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active {
  background-color: #005885;
  border-color: #005885;
}
.btn-white {
  color: #008ed6;
}
.tab-btn li.active a {
  background-image: linear-gradient(to bottom right, #008ed6, #037cb9);
}
.filter-buttons .active {
  color: #008ed6;
}
/******************** NAVBAR STYLE ********************/
.navbar-nemo .navbar-nav > li > a:hover,
.navbar-nemo .navbar-nav > li > a:focus {
  color: #008ed6;
  background-color: transparent;
}
.navbar-nemo .navbar-nav > .active > a {
  color: #008ed6;
}
.navbar-toggle {
  background-image: linear-gradient(to bottom right, #008ed6, #037cb9);
}
/******************** SECTION STYLES ********************/
.gradient-overlay:before {
  background-image: linear-gradient(to bottom right, rgba(40, 40, 40, 0.23), rgba(0, 142, 214, 0.23));
}
.transparent-overlay:before {
  background-image: linear-gradient(to bottom right, rgba(0, 142, 214, 0.9), rgba(0, 142, 214, 0.9));
}
.polygon-bg {
  background-image: url(../../images/polygon-bg/blue.jpg);
}
.video-bg:before {
  background-image: linear-gradient(to bottom right, rgba(40, 40, 40, 0.75), rgba(0, 142, 214, 0.75));
}
.section-heading .lines {
  border-top: 2px solid #008ed6;
}
.section-heading .lines:before,
.section-heading .lines:after {
  border-top: 2px solid #008ed6;
}
.heading-pre-suf:before,
.heading-pre-suf:after {
  background-color: #008ed6;
}
/******************** FORMS ********************/
.form-control:focus {
  border-color: #008ed6;
}
.input-group .form-control {
  box-shadow: 0 0 20px 2px rgba(0, 142, 214, 0.06);
}
.form-standard:focus {
  border-color: #008ed6;
}
.form-underlined .form-control:focus {
  border-color: #008ed6;
}
.select-radio input[type="radio"]:checked + label {
  background-image: linear-gradient(to bottom right, #008ed6, #037cb9);
}
.select-outer:after {
  border-color: #008ed6 transparent transparent;
}
.select-outer .form-inline-input {
  color: #008ed6;
}
.form-widget .btn-trans {
  background-color: rgba(0, 142, 214, 0.05);
}
.select-item input[type="checkbox"]:before {
  border: 2px solid #008ed6;
}
.select-item input[type="checkbox"]:checked:after {
  background-color: #008ed6;
}
.select-item .form-control {
  color: #008ed6;
}
.nav-btn-tabs .active .btn {
  border-color: #008ed6;
  color: #008ed6;
}
.select-dropdown .form-standard {
  color: #008ed6;
}
.radio-standard input[type="radio"]:checked + label:after {
  background-color: #008ed6;
}
.radio-standard label:before {
  border: 1px solid #008ed6;
}
/******************** OTHERS ********************/
.img-hover-content:hover .img-intro {
  background-image: linear-gradient(to bottom right, rgba(0, 142, 214, 0), rgba(3, 124, 185, 0));
}
.img-hover-content .overlay-content {
  background-image: linear-gradient(to bottom right, rgba(0, 142, 214, 0.9), rgba(3, 124, 185, 0.9));
}
.img-hover-content .img-intro {
  background-image: linear-gradient(to bottom right, rgba(0, 142, 214, 0.2), rgba(3, 124, 185, 0.2));
}
.img-hover-content .btn-trans:hover {
  color: #008ed6;
}


/******************** HOME STYLES ********************/
.base-home {
  padding: 175px 0 50px;
}

.heading-text {
  text-align: center;
}

/******************** FOOTER STYLES ********************/
.footers .socialize .icon:hover {
  fill: #008ed6;
}

.footers a:hover {
  color: #037cb9;
}